.container {
    display: flex;
    flex-direction: column;
    width: 22%;
    align-items: center;
    background-color:#f9fafb;
    height: 100vh;
    border-right: 1px #ccc dotted;
}
.logo{
    font-size: 1.5rem;
    padding: 3rem 2rem;
}
.logo span:first-child{
    color: #e9ba23;
    font-weight: bold;
}